/* ----------------------------------
 * doc
 * ---------------------------------- */
html.no-scroll,
body.no-scroll {
	height: 100%;
	overflow: hidden;	
}
body{
	background-color: #fff;
}
.bg--gray{
	background-color: #fafafa;
}
.doc {
	position: relative;
 	margin: 0 auto;
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
}
@media only screen and (max-width: 768px) {
	.doc {
		width: 100%;
	}
}

/* ----------------------------------
 * header
 * ---------------------------------- */ 
header{
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: #d7d7d7 solid 1px;
	padding: 10px 20px;
	z-index: 20;
}
header .logo{
	width: 80px;
}
header .btnav{
	position: absolute;
	right: 0;
	top:0;
	width: 44px;
	height: 43px;
	padding: 10px;
	background-color: #fff;
	display: none;
}
header .btnav.active{
	background-color: #ff4e00;
}
header .btnav .icon-nav{
	width: 24px;
	height: 24px;
}

/* ----------------------------------
 * nav
 * ---------------------------------- */
.nav{
	position: absolute;
	z-index: 10;
	top:0;
	left: 0;
	background-color: #dfdfdf;
	width: 200px;
	height: 100%;
	padding-top: 70px;
	box-shadow: inset 3px 0 5px rgba(0,0,0,.1);
}
.nav .nav__list{
	list-style: none;
}
.nav .nav__list li{
	border-bottom: solid 1px rgba(0,0,0,.1);
}
.nav .nav__list li span{
	display: block;
	height: 34px;
	padding: 5px 10px;
	line-height: 22px;
}
.nav .nav__list li.active span{
	background-color: #e8e8e8;
	color: #ff4e00;
	border-right: #e05719 solid 2px;
}

/* ----------------------------------
 * content
 * ---------------------------------- */
.content{
	opacity: 0;
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: 200px;
}
.content .name{
	width: 100%;
	line-height: 40px;
	font-size: 24px;
	color: #000;
	text-align: center;
	margin-top: 20px;
}
@media only screen and (max-width: 768px) {
	header{
		padding: 10px;
		height: 44px;
	}
	header .logo{
		width: 50px;
	}
	header .btnav{
		display: block;
	}
	.nav{
		width: 120px;
		padding-top: 54px;
		-webkit-transform:translateX(-120px);
		-moz-transform:translateX(-120px);
		transform:translateX(-120px);
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s east-out;
		transition: all 0.3s east-out;
	}
	.nav.active{
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		transform:translateX(0);
	}

	.content{
		margin-left: 0;
		-webkit-transform:translateX(0px);
		-moz-transform:translateX(0px);
		transform:translateX(0px);
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s east-out;
		transition: all 0.3s east-out;
	}
	.content.active{
		-webkit-transform:translateX(120px);
		-moz-transform:translateX(120px);
		transform:translateX(120px);
	}
}
/* ----------------------------------
 * menu
 * ---------------------------------- */
.menu{
	padding: 15px;
}
.menu .item{
	display: inline-block;
	float: left;
	margin: 0 5px 5px;
	padding: 4px 10px;
	background-color: #fff;
	border:#e05719 solid 1px;
	border-radius: 3px;
	font-size: 12px;
}
.menu .item.active{
	color: #fff;
	background-color: #e05719;
}
/* ----------------------------------
 * wrap
 * ---------------------------------- */
.wrap{
	text-shadow: 2px 2px 3px rgba(0,0,0,.2);
}
.wrap [data-box="motion"]{
	display: inline-block;
	padding: 10px;
	line-height: 1;
	text-align: left;
	padding: 20px;
	background-color: #feffea;
	border:1px solid #ddd;
	border-radius:10px;
}
.wrap [data-box="motion"] h2{
	font-size: 40px;
	color: #7e3312;
}
.wrap [data-box="motion"] p{
	font-size: 30px;
	color: #838383;
}
/* ----------------------------------
 * masker & modal
 * ---------------------------------- */
.masker, .modal {
	display: none;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}
.masker.open, .modal.open{
	display: block;
}
.masker {
 	position: absolute;
 	background-color: rgba(0, 0, 0, .8);
}
.modal {
  	position: fixed;
  	text-align: center;	
}
.modal .modal__body {					
	margin: 0 auto;
	width: 320px;
}
@media only screen and (max-width: 768px) {
	.modal .modal__body {
		width: 100%;
	}
}
